h1 {
  font-family: monospace;
  text-align: center;
}

.fp-controlArrow.fp-prev {
  border-color: transparent black transparent transparent;
}

.fp-controlArrow.fp-next {
  border-color: transparent transparent transparent black;
}

.s1 {
  background: url("/static/images/pencils_on_yellow.jpg");
  background-size: cover;
}

.s1 h1 {
  color: white;
  text-align: center;
  font-size: 4rem;
}

.s2 {
  background: url("/static/images/arrow_right.jpg");
  background-size: cover;
}

.s2 h2 {
  color: black;
  text-align: center;
  font-size: 4rem;
}

.jumbotron-fluid {
  margin-top: 5em !important;
  margin-bottom: 100% !important;
}

.jumboimg {
  width: 100%;
}

.fp-slidesNav.fp-bottom {
  text-align: center;
}

.lead {
  text-align: center;
}

svg {
  fill: white !important;
}

svg:hover {
  fill: grey !important;
}

#container {
  width: 100%;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */